{% extends 'standard_layout.html.twig' %}

{% block sonata_admin_content %}


<div class="row">
    <div class="col-md-12">

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Import of Excel File</h3>
            </div>

            <form id="upload" method="post" enctype="multipart/form-data"
                  action="{{ path('CountryD_importn') }}"
                  xmlns="http://www.w3.org/1999/html">
                <div class="box-body">
                    <div class="form-group">
                        <input type="hidden" name="token" value="{{ csrf_token('upload') }}"/>
                        <input type="file" class="filestyle" required data-buttonname="btn-custom"
                               accept=".xls,.xlsx" id="file" name="nc">

                        <p id="error1" style="display:none; color:#FF0000;">
                            you should provide an Excel File (xlsx) </p>
                        <p id="error2" style="display:none; color:#FF0000;">
                            Maximum File Size Limit is 1MB.
                        </p>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" value="Submit" id="submit" name="submit" class="btn btn-primary">Submit
                    </button>
                </div>

            </form>
        </div>

    </div>


    {% endblock %}

