.ch-cookie-consent {

    z-index: 99999;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color: #f1f1f1;
    padding: 1em;
    color: #01232F;
    font-size: 1em;
}

.ch-cookie-consent__title {
    color: #00AEEF;
    margin-top: 0;
    Font-family: "Roboto";

}

.ch-cookie-consent__read-more {
    font-weight: bold;
    color: #000;
    text-decoration: none;
    display: block;
    font-family: "Roboto Light";
    font-size: 10;
}

.ch-cookie-consent__read-more:hover {
    text-decoration: underline;
}

.ch-cookie-consent__form {
    margin-top: 40px;
}

.ch-cookie-consent__category {
    border-bottom: 1px solid #00aeef;
    padding: 10px 0;
    display: -ms-flexbox;
    display: flex;
}

@media screen and (max-width: 641px) {
    .ch-cookie-consent__category {
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
}

.ch-cookie-consent__category:first-child {
    border-top: 1px solid #00AEEF;
}

.ch-cookie-consent__category-toggle {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

@media screen and (max-width: 641px) {
    .ch-cookie-consent__category-toggle {
        margin-top: 20px;
    }
}

.ch-cookie-consent__category-toggle input {
    opacity: 0;
    position: absolute;
    left: -10000px;
}

.ch-cookie-consent__category-toggle input+label {
    background-repeat: no-repeat;
    background-position: 45px center;
    background-color: #fff;
    color: #00AEEF;
    border: 1px solid #00AEEE;
    transition: all .2s;
    display: inline-block;
    margin-right: 15px;
    padding: 6px 28px 6px 10px;
    cursor: pointer;
    border-radius: 6px;
    width: 75px;
}

.ch-cookie-consent__category-toggle input+label::before,
.ch-cookie-consent__category-toggle input+label::after {
    content: '';
}

.ch-cookie-consent__category-toggle input:checked+label,
.ch-cookie-consent__category-toggle input+label:hover {
    background-color: #00aeee;
    color: #fff;
    border-color: #fff;
}

.ch-cookie-consent__category-toggle input:checked+label {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='#fff' d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3C/svg%3E");
}

.ch-cookie-consent__category-title {
    color: #000;
    margin: 0;
    font-family: "Roboto Light";
    font-size: 10;
}

.ch-cookie-consent__category-description {
    margin: 0;
}

.ch-cookie-consent__btn {
    margin-top: 25px;
    width: 70px;
    background: linear-gradient(349.19deg, #00aeee 0%, #00aeef 100%);
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 26px 10px -21px rgba(0, 0, 0, 0.28);
}

.ch-cookie-consent--dark-theme {
    background-color: #000;
    color: #fff;
}

.ch-cookie-consent--dark-theme .ch-cookie-consent__title,
.ch-cookie-consent--dark-theme .ch-cookie-consent__read-more {
    color: #fff;
}

.ch-cookie-consent--dark-theme .ch-cookie-consent__category {
    border-color: #fff;
}

.ch-cookie-consent--dark-theme .ch-cookie-consent__category:first-child {
    border-color: #fff;
}

.ch-cookie-consent--dark-theme .ch-cookie-consent__category-toggle input+label {
    background-color: #000;
    color: #fff;
    border-color: #fff;
}

.ch-cookie-consent--dark-theme .ch-cookie-consent__category-toggle input:checked+label,
.ch-cookie-consent--dark-theme .ch-cookie-consent__category-toggle input+label:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
}

.ch-cookie-consent--dark-theme .ch-cookie-consent__category-toggle input:checked+label {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='#000' d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3C/svg%3E");
}

.ch-cookie-consent--dark-theme .ch-cookie-consent__category-title {
    color: #fff;
}
