{% extends 'base.html.twig' %}

{% block title %}Frequently asked questions{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="property-card bg-white">
                <div class="property-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <h3 class="text-custom font-600">Frequently Asked Questions</h3>
                                <!--<p class="text-muted"> Nisi praesentium similique totam odio obcaecati, reprehenderit, dignissimos rem temporibus ea inventore alias!
                                    <br/> Beatae animi nemo ea tempora, temporibus laborum facilis ut!</p>-->
                                <a href="{{ path('contact') }}" id="tooltip-hover"
                                   class="btn btn-custom waves-effect waves-light m-t-10">
                                    <i class="fa fa-email"></i>Email us your question</a>
                                <!--<button type="button" class="btn btn-success waves-effect waves-light m-t-10">Email us your question</button>
                                <button type="button" class="btn btn-primary waves-effect waves-light m-t-10">Send us a tweet</button>-->

                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                    <div class="row m-t-50">
                        <div class="col-xl-5 offset-xl-1 p-20">
                            <!-- Question/Answer -->
                            <div>
                                <div class="question-q-box">Q.</div>
                                <h4 class="question">What are Non-indigenous species ?</h4>
                                <p class="answer">Non-indigenous species (NIS; synonyms: alien, exotic, non-native,
                                    allochthonous) are species, subspecies, or
                                    lower taxa introduced outside of their natural range (past or present) and outside
                                    of their natural dispersal
                                    potential.</p>
                            </div>

                            <!-- Question/Answer -->

                            <div>
                                <div class="question-q-box">Q.</div>
                                <h4 class="question">What are Invasive Non-indigenous species ?</h4>
                                <p class="answer">Invasive alien species (IAS) are a subset of established NIS which
                                    have spread, are spreading, or have
                                    demonstrated their potential to spread elsewhere, and which have an effect on
                                    biological diversity and
                                    ecosystem functioning (by competing with and on some occasions replacing native
                                    species), socioeconomic values, and/or human health in invaded regions.</p>
                            </div>

                            <!-- Question/Answer -->

                            <div>
                                <div class="question-q-box">Q.</div>
                                <h4 class="question">What is Common Indicator 6?</h4>
                                <p class="answer">In the context of the Barcelona Convention, a common indicator is an
                                    indicator that summarizes data into a
                                    simple, standardized, and communicable figure and is ideally applicable in the whole
                                    Mediterranean basin,
                                    or at least on the level of sub-regions, and is monitored by all Contracting
                                    Parties. A common indicator is
                                    able to give an indication of the degree of threat or change in the marine ecosystem
                                    and can deliver valuable
                                    information to decision makers.</p>
                            </div>

                        </div>
                        <!--/col-md-5 -->

                        <div class="col-xl-5 p-20">
                            <!-- Question/Answer -->

                            <div>
                                <div class="question-q-box">Q.</div>
                                <h4 class="question">What is WoRMS?</h4>
                                <p class="answer">The aim of a World Register of Marine Species (WoRMS) is to provide an
                                    authoritative and comprehensive list of names of marine organisms, including
                                    information on synonymy. While the highest priority goes to valid names, other names
                                    in use are included so that this register can serve as a guide to interpret
                                    taxonomic literature.</p>
                                <p class="answer"> The content of WoRMS is controlled by taxonomic and thematic experts,
                                    not by database managers. WoRMS has an editorial management system where each
                                    taxonomic group is represented by an expert who has the authority over the content,
                                    and is responsible for controlling the quality of the information. Each of these
                                    main taxonomic editors can invite several specialists of smaller groups within their
                                    area of responsibility to join them.</p>


                            </div>

                            <!-- Question/Answer -->

                            <div>
                                <div class="question-q-box">Q.</div>
                                <h4 class="question">Citing MAMIAS</h4>
                                <p class="answer">Usage of data from WoRMS in scientific publications should be
                                    acknowledged by citing as follows:</p>
                                <p class="answer">MAMIAS (yyyy).MArine Mediterranean Invasive Alien Species Database.
                                    Available from http://www.mamias.org. Accessed Accessed dd-mm-yyyy. doi:10.14284/170
                                </p>
                            </div>

                            <!-- Question/Answer doi:10.14284/170-->


                        </div>
                        <!--/col-md-5-->
                    </div>
                    <!-- end row -->

                    <div class="row m-t-40">
                        <div class="col-xl-5 offset-xl-1">
                            <div class="p-20">
                                <div class="accordion" id="accordionExample">
                                    <div class="card mb-2">
                                        <div class="card-heading bg-custom">
                                            <h4 class="card-title m-0">
                                                <a href="#" class="text-white" data-toggle="collapse"
                                                   data-target="#collapseOne" aria-expanded="false"
                                                   aria-controls="collapseOne">
                                                    Pathway
                                                </a>
                                            </h4>
                                        </div>

                                        <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>Pathways categorization is aligned to the one proposed by the
                                                    Convention of the Biological Diversity (CBD, 2014).Five pathways are
                                                    associated with human activity either as commodities (<span
                                                            class="text-custom">release</span> and <span
                                                            class="text-custom">escape </span>), <span
                                                            class="text-custom"> contaminants</span> of commodities,
                                                    <span class="text-custom">stowaways </span> on modes of transport
                                                    and opportunists exploiting <span
                                                            class="text-custom">corridors </span>resulting from
                                                    transport infrastructures. The sixth category highlights alien
                                                    species that may arrive <span class="text-custom">unaided</span> in
                                                    a region as a result of natural spread (rather than human transport)
                                                    following a primary human-mediated introduction in a neighbouring
                                                    region
                                                    <a class="text-custom"
                                                       href="https://www.cbd.int/doc/c/9d85/3bc5/d640f059d03acd717602cd76/sbstta-22-inf-09-en.pdf">See
                                                        Guidance for interpretation of CBD</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-2">
                                        <div class="card-heading bg-custom">
                                            <h4 class="card-title m-0">
                                                <a href="#" class="collapsed text-white" data-toggle="collapse"
                                                   data-target="#collapseTwo" aria-expanded="false"
                                                   aria-controls="collapseTwo">
                                                    Certainty level of pathway
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>Certainty is given following the criteria identified in Tsiamis et
                                                    al. 2018,: https://doi.org/10.3391/ai.2018.13.2.01 </p>
                                                <p class="mb-0">
                                                <ul>
                                                    <li>
                                                        High: there is direct evidence of a pathway;
                                                    </li>
                                                    <li>
                                                        Medium: a likely pathway can be inferred; the NIS appears for
                                                        the first time in a locality where a pathway is known to
                                                        operate. This applies to many species introduced e.g. by
                                                        shipping ballast (Transport – Stowaway: ship/boat ballast water)
                                                        or as aquaculture contaminants (Transport – Contaminant:
                                                        contaminant on animals – except parasites, species transported
                                                        by host/vector).
                                                    </li>
                                                    <li>
                                                        Low: NIS cannot be convincingly ascribed to a single pathway;
                                                        usually, two or more possible pathways can be inferred.
                                                    </li>
                                                </ul>

                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- accordian end -->

                            </div>
                        </div>
                        <!-- end col -->

                        <div class="col-xl-5">
                            <div class="p-20">
                                <div class="accordion" id="accordionExample1">
                                    <div class="card mb-2">
                                        <div class="card-heading bg-custom">
                                            <h4 class="card-title m-0">
                                                <a href="#" class="text-white" data-toggle="collapse"
                                                   data-target="#collapseFour" aria-expanded="true"
                                                   aria-controls="collapseFour">
                                                    Status of the species
                                                </a>
                                            </h4>
                                        </div>

                                        <div id="collapseFour" class="collapse show" data-parent="#accordionExample1">
                                            <div class="card-body">
                                                <p>
                                                <ul>
                                                    <li>
                                                        NIS: Species non-native to the ecosystem (introduced outside its
                                                        natural distribution range);
                                                    </li>
                                                    <li>
                                                        Cryptogenic: Species with no definite evidence of their native
                                                        or introduced status according to CARLTON (1996);
                                                    </li>
                                                    <li>
                                                        Debatable: species with an unresolved taxonomic status.
                                                    </li>
                                                </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-2">
                                        <div class="card-heading bg-custom">
                                            <h4 class="card-title m-0">
                                                <a href="#" class="text-white collapsed" data-toggle="collapse"
                                                   data-target="#collapseFive" aria-expanded="false"
                                                   aria-controls="collapseFive">
                                                    Establishment success of the species?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFive" class="collapse" data-parent="#accordionExample1">
                                            <div class="card-body">
                                                <p>
                                                <ul>
                                                    <li>
                                                        Established: a species with at least a selfmaintaining
                                                        population currently known to occur in the wild.
                                                    </li>
                                                    <li>
                                                        Casual: a species whose only a single or few specimens have been
                                                        recorded
                                                    </li>
                                                    <li>
                                                        Invasive: an established species that is spreading rapidly, with
                                                        documented impacts on the ecosystem and its services
                                                    </li>
                                                    <li>
                                                        Questionable: species whose presence in the country is
                                                        questionable and needs to be confirmed (re-examination of
                                                        material if available).
                                                    </li>
                                                    <li>
                                                        Unknown: mainly for old records whose recent population status
                                                        is not reported/published as well as for newly reported species.
                                                    </li>
                                                </ul>

                                                </p>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- accordian end -->
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                </div>
            </div>
            <!-- end col -->
        </div>
    </div>
    <!-- end row -->
{% endblock %}
